In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load Dataset

Dataset = pd.read_csv('./Dataset/Kclustering.csv')
Dataset.head(5)

        City  Hospital  Area
0      Surat        10  1000
1      Surat        20  2500
2  Ahmadabad        30  2000
3      Surat        25  3000
4    Vadodra        15  2000

In [4]:
# Now Load KMean cluster

from sklearn.cluster import KMeans

Model = KMeans(n_clusters=3)
Prediction = Model.fit_predict(Dataset[['Area','Hospital']])

In [5]:
Dataset['Prediction_cluster'] = Prediction
Dataset

        City  Hospital  Area  Prediction_cluster
0      Surat        10  1000                   2
1      Surat        20  2500                   0
2  Ahmadabad        30  2000                   0
3      Surat        25  3000                   0
4    Vadodra        15  2000                   0
5    Vadodra        10  1500                   2
6  Ahmadabad        30  5000                   1

In [6]:
Model.inertia_

812625.0