In [1]:
import pandas as pd 
import numpy as np

In [2]:
# Load Dataset

Dataset = pd.read_csv('./Dataset/NaiveByes.csv')
Dataset.head(5)

    Outlook Temperature Humiidity    Wind PlayTenniis
0     sunny         hot      high    weak          no
1     sunny         hot      high  strong          no
2  overcast         hot      high    weak         yes
3      rain       miild      high    weak         yes
4      rain        cool    normal    weak         yes

In [3]:
# Convert this String Data column to Numericvalue Data 

from sklearn.preprocessing import LabelEncoder

Le_Outlook = LabelEncoder()
Le_Temperature = LabelEncoder() 
Le_Humidity = LabelEncoder()
Le_Wind = LabelEncoder()

In [4]:
# Convert Outlook column to numeric value coluumn 

# sunny = 2, overcast = 0, rain = 1

Dataset['Le_Outlook'] = Le_Outlook.fit_transform(Dataset['Outlook'])
Dataset

     Outlook Temperature Humiidity    Wind PlayTenniis  Le_Outlook
0      sunny         hot      high    weak          no           2
1      sunny         hot      high  strong          no           2
2   overcast         hot      high    weak         yes           0
3       rain       miild      high    weak         yes           1
4       rain        cool    normal    weak         yes           1
5       rain        cool    normal  strong          no           1
6   overcast        cool    normal  strong         yes           0
7      sunny       miild      high    weak          no           2
8      sunny        cool    normal    weak         yes           2
9       rain       miild    normal    weak         yes           1
10     sunny       miild    normal  strong         yes           2
11  overcast       miild      high  strong         yes           0
12  overcast         hot    normal    weak         yes           0
13      rain       miild      high  strong          no           1

In [5]:
# Convert Temperature and other columns to numeric value columns 

Dataset['Le_Temperature'] = Le_Temperature.fit_transform(Dataset['Temperature'])
Dataset['Le_Humidity'] = Le_Humidity.fit_transform(Dataset['Humiidity'])
Dataset['Le_Wind'] = Le_Wind.fit_transform(Dataset['Wind'])

Dataset

,Outlook,Temperature,Humiidity,Wind,PlayTenniis,Le_Outlook,Le_Temperature,Le_Humidity,Le_Wind
0,sunny,hot,high,weak,no,2,1,0,1
1,sunny,hot,high,strong,no,2,1,0,0
2,overcast,hot,high,weak,yes,0,1,0,1
3,rain,miild,high,weak,yes,1,2,0,1
4,rain,cool,normal,weak,yes,1,0,1,1
5,rain,cool,normal,strong,no,1,0,1,0
6,overcast,cool,normal,strong,yes,0,0,1,0
7,sunny,miild,high,weak,no,2,2,0,1
8,sunny,cool,normal,weak,yes,2,0,1,1
9,rain,miild,normal,weak,yes,1,2,1,1
10,sunny,miild,normal,strong,yes,2,2,1,0
11,overcast,miild,high,strong,yes,0,2,0,0
12,overcast,hot,normal,weak,yes,0,1,1,1
13,rain,miild,high,strong,no,1,2,0,0

In [6]:
# Value 

# For Outlook column => sunny=2, overcast=0, rain=1 
# For Temperature column => hot=1, miild=2, cool=0 
# For Humidiity column => high =0, normal=1
# For Wind column => weak=1, strong=0 

Target_dataFrame = Dataset['PlayTenniis']
Target_dataFrame

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: PlayTenniis, dtype: object

In [8]:
Dataset = Dataset.drop(['Outlook','Temperature','Humiidity','Wind','PlayTenniis'], axis=1)
Dataset

    Le_Outlook  Le_Temperature  Le_Humidity  Le_Wind
0            2               1            0        1
1            2               1            0        0
2            0               1            0        1
3            1               2            0        1
4            1               0            1        1
5            1               0            1        0
6            0               0            1        0
7            2               2            0        1
8            2               0            1        1
9            1               2            1        1
10           2               2            1        0
11           0               2            0        0
12           0               1            1        1
13           1               2            0        0

In [9]:
# Train,test and Split Data 

from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(Dataset,Target_dataFrame,test_size=0.2)

In [10]:
# Now Load NaiveByes Model 

from sklearn.naive_bayes import GaussianNB

Model = GaussianNB() 
Model.fit(X_train,Y_train)

GaussianNB()

In [11]:
# Now Make Prediction

Prediction = Model.predict(np.array([[2,0,0,0]]))
Prediction

c:\users\keyur\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array(['no'], dtype='<U3')